body {
    text-align: start;
}

ul {
    background-color: #ffff;
}

.dish-overview, .ing-steps {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.dish-overview {
    border-radius: 25px;
    border: 2px solid #2a44bd;
}

.dish-name {
    background-color: #ffff;
}

.dish-desc {
    display: inline-block;
    max-width: 400px;
}

.ingredients-card, .steps-card {
    display: inline-block;
    max-width: 500px;
}

.ing-steps {
    align-items: stretch;
}

.quick-tip {
    text-align: center;
}