@font-face {
    font-family: "Figtree";
    src: url("fonts/Figtree-VariableFont_wght.ttf") format("opentype");
}
body {
    font-family: "Figtree", "Arial", serif;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: inline-block;
    padding: 40px;
}