@font-face {
    font-family: "Figtree";
    src: url("fonts/Figtree-VariableFont_wght.ttf") format("opentype");
}
body {
    font-family: "Figtree", "Arial", serif;
    text-align: center;
}

ul {
    padding-inline-start: 0px;
}

li {
    display: inline-block;
    padding: 40px;
    border: 1px solid black;
}

.pic {
    display: block;
    margin: auto;
    width: 142px;
    height: auto;
    padding-top: 10px;
}